.images{
        width: 100%;
        height: 600px;
        background-color: black;
        padding-top: 150px;
        &>.portfolio-img-div{
                width: 800px;
                height: 600px;
                background-color: #dbb895;
                margin-left: 200px;
                &>.portfolio-img{
                        width: 1000px;
                        height: 600px;
                        margin-left: 100px;
                        position: relative;
                        top: -100px;
                        &>img{
                                width: 100%;
                                height: 100%;
                        }
                        &>.image-info{
                                width: 500px;
                                height: 400px;
                                background-color: white;
                                position: relative;
                                top: -200px;
                                left: 400px;
                                color: black;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                padding-block: 70px;
                                padding-inline: 30px;
                                gap: 10px;
                                box-shadow: 10px 10px 60px 10px;
                                &>h1{
                                        font-family: 'Times New Roman', Times, serif;
                                }
                        }
                }
        }
}
button{
        width: 210px;
        height: 70px;
        background-color: black;
        color: white;
        border: 0;
}
button:hover{
        background-color: #dbb895;
}


.info-list{
        width: 100%;
        height: 800px;
        background-color: #dbb895;
        margin-top: 400px;
        display: flex;
        &>.acardyon{
                color: black;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                &>.div-1,&>.div-2,&>.div-3{
                        width: 500px;
                        height: 80px;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-inline: 20px;
                        margin-block: 30px;
                }
               
                       
                }
                
                
        &>.text-info{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-inline: 130px;
                gap: 30px;
                color: black;
                &>h1{
                        font-size: 80px;
                        font-weight: 5  00;
                }
                &>p{
                        font-size: 25px;
                }
                &>button:hover{
                        background-color: white;
                        color: black;
                }
        }
}
                .showModal3,.showModal1,.showModal2{
                                width: 500px;
                                &>ul{
                                        margin-block: 30px;
                                        display: flex;
                                        flex-direction: column;

                                }
                                &>ul>li{
                                        display: inline;
                                }
                        }











.portfolio{
        width: 100%;
        height: 1400px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        &>.h1-color{
                width: 100%;
                height: 500px;
                background-color: #dbb895;
                display: flex;
                justify-content: center;
                padding-top: 100px;
        }
        &>.portfolio-users{
                width: 100%;
                height: 85%;
                position: relative;
                top: -300px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-inline: 30px;
                padding-top: 0;
                gap: 30px;
                overflow: auto;
                &>.user{
                        width: 350px;
                        height: 350px;
                        overflow: hidden;
                        &>img{
                                transition: 1s;
                                width: 100%;
                                height: 100%;
                        }
                        &>img:hover{
                                transform: scale(1.1);
                        }
                }
                
        }
}


@media screen and (max-width:1306px) {
        .images>.portfolio-img-div{
                width: 500px;
                height: 400px;
                margin-left: 100px;
                &>.portfolio-img{
                        width: 600px;
                        height: 450px;
                        margin-left: 100px;
                        &>.image-info{
                                top: -100px;
                                left: 70px;
                        }
                }
        }
        .info-list{
                height: 1600px;
                flex-direction: column-reverse;
                &>.acardyon{
                        width: 100%;
                        height: 50%;
                }
                &>.text-info{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        gap: 20px;
                        padding-inline: 200px;
                }
        }
}
                        
@media screen and (max-width:805px) {
        .images>.portfolio-img-div{
                width: 400px;
                height: 300px;
                &>.portfolio-img{
                        width: 500px;
                        height: 350px;
                        margin-left: 100px;
                        &>.image-info{
                                top: -100px;
                                left: 70px;
                                width: 400px;
                                height: 250px;
                                padding: 20px;
                        }
                }
        }       
}

@media screen and (max-width:712px) {
        .images>.portfolio-img-div{
                width: 300px;
                height: 200px;
                margin-left: 40px;
                &>.portfolio-img{
                        width: 250px;
                        height: 200px;
                        margin-left: 30px;
                        top: -50px;
                        &>.image-info{
                                top: -100px;
                                left: 10px;
                                width: 250px;
                                height: 150px;
                                padding: 20px;
                                &>h1{
                                        font-size: 20px;
                                }
                                &>p{
                                        font-size: 10px;
                                }
                        }
                }
        }    
        
        .info-list>.text-info{
                padding: 0;
                &>h1{
                        font-size: 30px;
                }
                &>p{
                        font-size: 20px
                }
        }
}

@media screen and (max-width:426px){
        .images>.portfolio-img-div{
                width: 300px;
                height: 200px;
                margin-left: 10px;
                &>.portfolio-img{
                        width: 300px;
                        height: 250px;
                        margin-left: 30px;
                        top: -70px;
                        &>.image-info{
                                top: -100px;
                                left: 70px;
                                width: 250px;
                                height: 180px;
                                padding: 20px;
                                &>h1{
                                        font-size: 20px;
                                }
                                &>p{
                                        font-size: 10px;
                                }
                                &>button{
                                        width: 100px;
                                        font-size: 10px;
                                }
                        }
                }
        }   
        
        .info-list{
                &>.text-info{
                        padding: 10px;
                        &>h1{
                                font-size: 40px;
                        }
                        &>p{
                                font-size: 20px;
                                width: 100%;
                        }
                }
                &>.acardyon{
                        &>.div-1,&>.div-2,&>.div-3{
                                width: 300px;
                        }
                }
        }
        .showModal1,.showModal2,.showModal3{
                width: 300px;
        }
}

@media screen and (max-width:371px){
        .images>.portfolio-img-div{
                width: 200px;
                height: 150px;
                margin-left: 40px;
                &>.portfolio-img{
                        width: 200px;
                        height: 150px;
                        margin-left: 30px;
                        top: -50px;
                        &>.image-info{
                                top: -90px;
                                left: 10px;
                                width: 200px;
                                height: 100px;
                                padding: 10px;
                                &>h1{
                                        font-size: 10px;
                                }
                                &>p{
                                        font-size: 8px;
                                }
                        }
                }
        }       
}